# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/auto"

# Admin session
ADMIN_SESSION_SECRET="change-me"

# Application URLs
APP_BASE_URL="http://localhost:3000"

# Stripe keys
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_RESTAURANT_PRICE_ID="price_..."
STRIPE_WEBHOOK_SECRET_KEY="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLIC_KEY="pk_test_..."
